// general colors
$background: #158483;
$gray-light: #b8b8b8;
$gray-dark: #757575;

// cell colors
$cell-front: #b8b8b8;
$cell-pressed: #b8b8b8;

// items colors
$bomb: #ff0101;
$flag: #ff0101;

// numbers colors
$number-color-0: transparent;
$number-color-1: #0000fd;
$number-color-2: #017300;
$number-color-3: #fe0001;
$number-color-4: #010175;
$number-color-5: #760101;
$number-color-6: #007575;
$number-color-7: #000000;
$number-color-8: #757575;
